body {
    margin: 20px;
    margin-top: 50px;
}

header {
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    line-height: 150px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 150px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {

    border: 1px solid black;

    justify-content: center;
    align-items: center;
    text-align: center;
}
.profilepic {
	background: url(https://i.imgur.com/zDex91C.png) 50% 50% no-repeat;
	height: 100px;
	width: 100px;
}
#hero .profile-img {
    height: 20px;
    width: 20px;
}

footer {
    text-align: center;
    padding: 50px;
}